

<div class="col-md-6">
  <h2 tr *ngFor = "let studentInfo of studentInfo; let index = index">
      <li *ngIf="index === 1">
        {{studentInfo.student.studentsName}}
        {{studentInfo.student.studentsSurname}}
        {{studentInfo.student.group.groupId}}
    
        </li>
       </h2>
  <div class="container-fluid">   

     <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Mark</th>
      <th>Subject</th>
      <th>Teacher</th>
    </tr>
  </thead>
  <tbody>
    
  <tr *ngFor="let studentAndTeacherMarks of studentAndTeacherMarks">
  <td>
     <table class="table table-striped">
  <tbody>
  <th *ngFor="let studentAndTeacherMarks1 of studentAndTeacherMarks.marks">
            {{studentAndTeacherMarks1.markValue}}
  </tbody>

  </table>
    </td>
  <td>{{studentAndTeacherMarks.teacher.subject}}</td>
  <td>{{studentAndTeacherMarks.teacher.teachersName}}</td>


  </tbody>

  </table>
   </div>
  </div>

